/* 全局 sass 变量 */

// 菜单宽度
$sideBarWidth: 220px;
// 折叠后菜单宽度
$hideSideBarWidth: 67px;
$primary-color: #409eff;
$sideBarDuration: 0.28s;
$menuBg: #191a20;
$menuActiveText: #ffffff;
$subMenuActiveText: #f4f4f5;
